
.bgimg {
		min-height: 100%;
		background: url("../images/background.JPG") center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
.bgimg2 {
        min-height: 100%;
        background: url("../images/background.jpeg") center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
.bgimgBackup {
	  background: url(../images/background.JPG) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.bgimg2 {
		background-position: center;
		background-image: url("../images/church.jpeg");
	}
.church {
  background-image: url('../images/church.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height:50%;
}
.bgimg-full {
		background:linear-gradient(
		  rgba(255, 0, 0, 0.45),
		  rgba(255, 0, 0, 0.45)
		),
		url(../images/background.jpeg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
.couple-img {
	max-height: 700px;
}
.nameimg {
    max-width: 600px;
	vertical-align: middle;

}
@media only screen and (max-width: 600px) {
  .nameimg {
    max-width: 300px;
   }
   .couple-img {
        max-width: 90%;
   }
   .w3-half{
        width:100%;
        float: none;
   }
   .church {
    height: 100%;
   }
}
.venue-img {
  width: 30%;
  height:50%;
}
.rsvp-img {
	width: 30%;
	height:30%;
}
ul {
  list-style-type: none;
}
.wedding-full-height  {height:100%;}
.wedding-text {color: black!important;}
.wedding-pale-red,.wedding-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.wedding-light-gold,.wedding-hover-light-gold:hover{color:white!important;background-color: #AD974F!important}
.wedding-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.wedding-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.wedding-text-white,.wedding-hover-text-white:hover{color:#fff!important}
.wedding-center{text-align:center!important}
.wedding-display-container{position:relative}
.wedding-wide{letter-spacing:4px}
.wedding-grayscale-min{filter:grayscale(50%)}
.wedding-content,.wedding-auto{
	margin-left:auto;margin-right:auto
}
.wedding-content{max-width:100%}
.wedding-auto{max-width:1140px}
.wedding-large{font-size:18px!important}
.wedding-xlarge{font-size:24px!important}
.wedding-text-grey,.wedding-hover-text-grey:hover,.wedding-text-gray,.wedding-hover-text-gray:hover{color:#757575!important}
.wedding-round-small{border-radius:2px}.wedding-round,.wedding-round-medium{border-radius:4px}.wedding-round-large{border-radius:8px}.wedding-round-xlarge{border-radius:16px}.-round-xxlarge{border-radius:32px}
.wedding-container,.wedding-panel{
    max-width: 1200px;
    margin: auto;
}
.wedding-panel{
    margin-top:16px;
    margin-bottom:16px
    max-width: 1200px;
    margin: auto;
}
.dark-gold {color: #8E793E}
.light-gold {color: #AD974F}
.intellectual-grey {color: #231F20}
.light-grey {color: #EAEAEA}

.count {
  width: 60px;
  height: 60px;
  background: lightgray;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: verdana;
  float: left;
  margin: 30px;
  text-shadow: 1px 1px black;
  -webkit-box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);
box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);
}

.wedding-modal-header {
	background-color: white;
	border-radius:10px 10px 0px 0px;
	padding:0px 10px;
}
.wedding-modal-content{
	margin:auto;
	background-color: #EAEAEA;
	position:relative;
	padding-bottom: 10px;
	outline:0;
	width:400px;
	border-radius:10px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #f87da9;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#weddingVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.heading { grid-area: header; margin: 0px; }
.col1 { grid-area: col1; }
.col2 { grid-area: col2; }
.col3 { grid-area: col3; }
.col4 { grid-area: col4; }
.col5 { grid-area: col5; }

.grid-container-radio {
  display: grid;
  grid-template-areas:
    'header header'
    'col1 col2';
  padding: 10px;
}

.grid-container-details {
  display: grid;
  grid-template-areas:
    'header header'
    'col1 col2'
	'col3 col4'
	'col5 col5';
  grid-gap: 10px;
  padding: 10px;
}
.grid-container-message {
  display: grid;
  grid-template-areas:
    'header header'
    'col5 col5';
  padding: 5%;
}
.wedding-input {
	  width: 40%;
}
.wedding-textarea {
	  width: 80%;
}

.grid-container-radio > div {
}
hr{
	margin: 0px 0;
}
.wedding-button-div {
	width: 100%;
	text-align: center;
}
.wedding-button-small{
	width: 150px;
	margin auto;
}
.close{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  &:hover {
    &::before, &::after {
      background: $blue;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
  }
  &::before {
    @include transform(rotate(45deg));
  }
  &::after {
    @include transform(rotate(-45deg));
  }
    &.rounded {
      &::before, &::after {
        border-radius: 5px;
      }
    }